USE [master]
GO
/****** Object:  Database [WordleDB]    Script Date: 4/25/2025 8:39:46 PM ******/
CREATE DATABASE [WordleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WordleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WordleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WordleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WordleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordleDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/25/2025 8:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[U_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 4/25/2025 8:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[W_Id] [int] IDENTITY(1,1) NOT NULL,
	[Words] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[W_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([U_Id], [Email], [Pass]) VALUES (1, N'user1', N'user1')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([W_Id], [Words]) VALUES (1, N'')
INSERT [dbo].[Words] ([W_Id], [Words]) VALUES (2, N'crane')
INSERT [dbo].[Words] ([W_Id], [Words]) VALUES (3, N'flint')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 4/25/2025 8:39:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddUser] @email nvarchar(50), @pass nvarchar(50)
as
begin
insert into Users (Email, Pass)
values (@email, @pass)
end
GO
USE [master]
GO
